.trademarklogos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  filter: grayscale(90%);
}

.trademarklogo {
  flex: 0 0 auto;
  max-width: 25%;
  margin-right: 20px;
  animation: floatAnimation 4s infinite alternate ease-in-out;
  transition: transform 0.3s ease;
}

.trademarklogo:hover {
  transform: scale(1.2);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

$logo-count: 8; // Set the total number of logos

@for $i from 1 through $logo-count {
  .trademarklogo:nth-child(#{$i}) {
    animation-delay: 0 + ($i * 0.2s); // Apply animation delay based on index
  }
}

/* Add more nth-child selectors with different delays for additional logos */

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
